body {
  margin: 0;
  background: linear-gradient(to bottom, #74b9ff, #dfe6e9);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  width: 960px;
  height: 380px;
  background: linear-gradient(to bottom, #a29bfe, #dfe6e9);
  border: 6px solid #2d3436;
  border-radius: 30px;
  box-shadow: 0 0 40px rgba(0,0,0,0.4);
}
